<!doctype html>
<head>
<title>卒業研究</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
<script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
<script>
      $(document).foundation();
</script>
</head>

<body>
<div class=page>
  <div class = "header">
    <h1><font color=#f08a24>riha-support</font></h1>
  </div>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul>
          {% if session.user_id %}
          <li class = "right active"><a href="{{ url_for('logout') }}"}}>logout</a></li>
          <li><a href="{{ url_for('show_entries') }}">entries</a></li>
          <li><a href="{{ url_for('user_list') }}">users</a></li>
          <li><a href="{{ url_for('reception') }}">working</a></li>
          {% else %}
          <li class ="right active"><a href="{{ url_for('login') }}">login</a></li>
          <li><a href="{{ url_for('show_entries') }}">entries</a></li>
          {% endif %}
        </ul>
      </section>
    </nav>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
