{% extends "layout.html" %}
{% block body %}

<div class ="row">
<div class="columns large-collapse">
<h1>リハビリ中</h1>

<script src="https://www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBqrDr2hEefQEHgRWYAghXMC-NFJ9X25j4",
    //authDomain: "cheam-591a2.firebaseapp.com",
    databaseURL: "https://riha-support.firebaseio.com/",
  };
  firebase.initializeApp(config);
  //監視する
  var starCountRef = firebase.database().ref('users/');
  starCountRef.on('value', function(users) {
    setUsers(users);
  });

  function setUsers(users) {
    user_area = document.getElementById("users");
    users = users.val();
    el = '';
    for (let id in users) {
      el += "<h2>" + users[id].name + "</h2>";
    }
    user_area.innerHTML = el;
  }
</script>
<div id="users"></div>

</div>
</div>
{% endblock %}
