{% extends "layout.html" %}
{% block body %}
<div class ="row">
<div class="columns large-collapse">
  <audio id="sound" preload="auto">
    <source src="{{ url_for('static', filename='sounds/1up.mp3') }}" type="audio/mp3">
  </audio>
  <div class="message-container">
    <div class="message-box">
      <h2 id="js-message"></h2>
    </div>
  </div>
  <h2>受付済み</h2>
    <ul id="js-users">
      <li>受付済みのユーザはいません</li>
    </ul>
  </div>
</div>

<script>

$(function() {
  setInterval(request, 2000);
});

var request = function() {
  $.ajax({
    type: "GET",//POST送信またはGET送信が有効
    url: "/api/reception/recent",//実行したいPHPファイル（パス）を指定する。（※今回はDBにポイントを加算する処理）
    success:function(res) {
      console.log(res);
      setUsers(res);
    },
    error:function() {
      console.log("Connection error.");
    }
  });
}

function setUsers(data)
{
  // 受付済みユーザ
  users = data.entered_users;
  list_html = '';
  for (var idx in users) {
    console.log(users[idx].name);
    list_html += '<li>' + users[idx].name + '</li>';
  }
  $("#js-users").html(list_html);

  // 出入りしたユーザ
  if (data.action != null) {
    if ($("#js-message").html() == '') {
      var se = $('#sound');
      se[0].currentTime = 0;
      se[0].play();
      var message = '';
      if (data.action.type === 'entered') {
        message = data.action.name + 'さん、こんにちは！';
      } else {
        message = data.action.name + 'さん、お疲れ様でした！';
      }
      $("#js-message").html(message);
    }
  } else {
    $("#js-message").html('');
  }
}
</script>
{% endblock %}
