{% extends "layout.html" %}
{% block body %}

<div class ="row">
<div class="columns large-collapse">
  <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <h1>コメント</h1>
    <dl>
      <dt>Title:
      <dd><input type=text size=20 name=title>
      <dt>Text:
      <dd><textarea name=text rows=5 cols=20></textarea>
      <dd><input class=button type=submit value=Share>
    </dl>
  </form>

<div class="row">
  <ul class=entries>
  {% for entry in entries %}
    <li><h4>{{ entry.title }}</h4>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
</div>

</div>
</div>
{% endblock %}
